{% extends "base.html" %}
{% load navigation_tags static wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <!-- {% include "includes/header-index.html" %} -->

    <div class="section">
        <h1 class="title">
            Products
        </h1>

        <ul class="gallery-list product-list"></ul>

        <div class="load-container">
            <div class="load-button">
                <div class="load-text">{{ "View More" | upper }}</div>
                <div class="load-line hide load-line-hover"></div>
            </div>
        </div>

        <ul class="gallery-list type-list">
            {% get_product_types %}
        </ul>
    </div>

    <!-- JAVASCRIPT -->

    {% block js_functions %}
        <script>
            var pageId = null;
        </script>

        <script type="text/javascript" src="{% static 'js/loadproducts.js' %}"></script>
    {% endblock js_functions %}
{% endblock content %}